---
layout: default
title: Projects
---

<p>Some of my programming projects below, for more recent things see GITHUB (awesome github link here)</p>

<h2>General</h2>
<!-- Other -->
{% assign projs = site.projects | where:"category", "Other" %}
{% for project in projs %}
  {% include project_thumb.html project=project %}
{% endfor %}

<h2>University</h2>
<!-- University -->
{% assign projs = site.projects | where:"category", "University" %}
{% for project in projs %}
  {% include project_thumb.html project=project %}
{% endfor %}