html
{
    /* Always show the scroll bar, otherwise longer pages cause
       the scroll bar to show, which changes the width of the content
       and then affects the auto margins. tldr: makes header jump positon. */
    overflow-y: scroll;
}

/* Hide the sidebar unless we are on a tiny mobile screen */
div.sidebar
{
  /* Fix content appearing above sidebar.*/
  z-index: 100;
}
label.sidebar-toggle
{
  visibility: visible;
}
@media (min-width: 30rem) {
  label.sidebar-toggle {
    visibility: collapse;
  }
}

div.post
{
   font-size: 20px;
}

.text-center
{
  text-align: center;
}

h1
{
    font-size: 3rem;
    font-style: normal;
}

.image-title
{
    display: block;
    text-align: center;
    font-size: 0.9em;
    font-style:italic;
}

.masthead-title i
{
  color: #c0c0c0;
  float: right;
  margin-left: 0.5em;
}

.masthead-title i:hover
{
  color: #505050;
}

.masthead
{
    font-size:0.4em;
}

.footer
{
  margin-top: 5em;
  margin-bottom:1em;
  color: #c0c0c0;
  text-align:center;
}

.post-title
{
  text-align: center;
}
.post-date
{
    text-align: center;
    padding-bottom: 1em;
}

/* Center images inside posts */
div.post img
{
    margin: auto;
    padding: 0.5em;
}

.social
{
  margin-top: 5em;
}
.social, .social > a
{
  color: #c0c0c0;
}

.social > a:hover
{
  color: #505050;
}

div.photography-section img
{
  padding-top: 2em;
  padding-bottom: 3em;
}
.photography-section > span,
.photography-section > p
{
    text-align:center;
    margin: 0px;
}
.photography-section .post-title
{
  letter-spacing: 0.5em;
}
div.photography-section
{
    margin-bottom: 5em;   
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* Project page */
.project_header
{
  margin-bottom: 1em;
}

.project_details dd
{
  margin: 0;
  padding: 0;
}

.project_details i
{
  color: darkgray;
}

.project_page ul ul
{
  margin-bottom: 0px;
}

.project_page div > ul
{
  padding-left: 20px;
}

div.project_preview img 
{
  margin: 0;
}

/* 240, 170 */
div.project_preview
{
  width: 240px;
  height: 170px;
  position: relative;
  margin-right: 1em;
  margin-bottom: 90px;
  display: inline-block;
}

div.project_preview div.preview_img
{
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  
  text-align: center;
  line-height: 170px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: white;

  transition: all ease .5s;
}

div.project_preview i
{
  line-height: 170px;
}

div.project_preview  div.preview_img:hover
{
  background: white;
  background: rgba(255,205,80,0.8);
  opacity: 1;
}

div.project_preview div.caption
{
  background: whitesmoke;
  height: 70px;
  
  display: table-cell;
  vertical-align: middle;
  width: 240px;    
}

div.caption h4
{
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 0.85em;
  text-rendering: optimizeLegibility;
}

div.caption p
{
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.9em;
}

div.caption > div 
{
  text-align: center;
}
/*
div.project_preview
{
  display: inline-block;
  margin: 30px;
  
}
div.project_preview img
{
  margin: 0px;
  border: 5px solid whitesmoke;
  vertical-align: middle;
}
div.project_preview a
{
  display: inline;
}*/
 
/* Lightbox stylin' */
.featherlight .featherlight-content
{
  background: none;
}
.featherlight-content img
{
  margin: 0px;
  border: 5px solid whitesmoke;
}

.featherlight span.featherlight-close
{
  display: none;
}

.featherlight .featherlight-next,
.featherlight .featherlight-previous
{
  background: none;
}

.featherlight .featherlight-next span,
.featherlight .featherlight-previous span
{
  text-shadow: none;
  opacity: 0.65;
}

/* screenshots stylin' */
#screenshot_files a
{
  margin: 0px;
  padding: 0px;
}

#screenshot_files img
{
  display: inline;
  margin: 0px;
  margin-bottom: 0.75em;
  margin-right: 1em;
    border: 5px solid whitesmoke;
}