.masthead-title i
{
  color: #c0c0c0;
  float: right;
  margin-left: 0.5em;
}

.masthead-title i:hover
{
  color: #505050;
}

.footer
{
  margin-bottom:1em;
  color: #c0c0c0;
  text-align:center;
}

.social, .social > a
{
  color: #c0c0c0;
}

.social > a:hover
{
  color: #505050;
}
