div.post
{
   font-size: 20px;
}

h1
{
    font-size: 3rem;
    font-style: normal;
}

.image-title
{
    display: block;
    text-align: center;
    font-size: 0.9em;
    font-style:italic;
}

.masthead-title i
{
  color: #c0c0c0;
  float: right;
  margin-left: 0.5em;
}

.masthead-title i:hover
{
  color: #505050;
}

.masthead
{
    font-size:0.4em;
}

.footer
{
  margin-top: 5em;
  margin-bottom:1em;
  color: #c0c0c0;
  text-align:center;
}

.post-title
{
  text-align: center;
}
.post-date
{
    text-align: center;
    padding-bottom: 1em;
}

/* Center images inside posts */
div.post img
{
    margin: auto;
    padding: 0.5em;
}

.social
{
  margin-top: 5em;
}
.social, .social > a
{
  color: #c0c0c0;
}

.social > a:hover
{
  color: #505050;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}