---
layout: default
title: Photography
---

<div class="photography-section">
    <h2 class="post-title">Photo Stories</h2>
    <p>Short stories told through photographs.</p>
    <p><a href="/photography/vietnam/">Vietnam</a>
    </p>
</div>

<div class="photography-section">
    <div class="photo-posts">
        {% for category in site.data.photogallery %}
        <div class="post">
            <h2 class="post-title">{{ category.title }}</h2>
            {% for photo in category.photos %}
            <p>
              <a href="{{ photo.href }}">
                <img title="{{ photo.title }}" src="{{ photo.src }}" />
              </a>
            </p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>