---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<p class="social">
  <span>Share on</span>
  <a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
    <i class="fa fa-facebook-square fa-lg"></i>
  </a>
  <a title="Share on G+" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">
    <i class="fa fa-google-plus-square fa-lg"></i>
  </a>
  <a title="Share on Twitter" href="http://twitter.com/share">
    <i class="fa fa-twitter-square fa-lg"></i>
  </a>
</p>

{% if site.related_posts != empty %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% unless page.disablecomments %}
  <span>Definitely here</span>
  {% include comments.html %}
{% endunless %}
